<html>
  <head>
    <title>WebCampBackendNew</title>
  </head>

  <body>
  <% if @book.errors.any? %>
  <%= @book.errors.count %>errors prohibited this book from being saved:
  <% @book.errors.full_messages.each do |message| %>
  <%= message %>
  <% end %>
  <% end %>
    <p id="notice"></p>
    <%= flash[:notice] %>
<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @book.body %>
</p>

<%= link_to "edit", edit_book_path(@book) %>
<%= link_to 'Back', books_path, class: "back" %>

  </body>
</html>